@tailwind base;
@tailwind components;
@tailwind utilities;

.table th, .table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.card h5 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
